
.carousel-item{

  max-width:100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    place-items: center;
  }

  .item-text{
    font-size: 1.25rem;
    width: 75%;
    h1{
      font-size: 3rem;
    }
    
  }
  .item-text>*{
    margin-bottom: 1rem;
  }  