.main-header {
  max-height: 80px;
  line-height: 23px;
  font-weight: 500;
  background-color: fff;
  width: 100%;
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);

  padding: 0 50px;
  box-shadow: 0 1px 8px #ddd;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_container {
      a {

        .logo_img {
          max-height: 80px;
          padding: 5px;


          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;


          vertical-align: middle;
          -webkit-transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

nav {

  li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }

  a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #7e7e7e;
    }
    &.link-active{

      color: #2EA3F2;
    }
  }
}